{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(192, 109, 109, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->
   
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/hsptlbg.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 1200px;">
                            
                            <h6 id="h6head" style="margin-top:-30px" class="display-1 text-white mb-md-4 animated zoomIn">Available Blood Bank Camps</h6>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped custom-table datatable mb-0">
                            
                                    <thead>
                                        <tr>
                                            <th>Camp Date</th>
                                            <th>Camp Name</th>
                                            <th>Camp Address</th>
                                            <th>Camp District</th>
                                            <th>Conducted By</th>
                                            <th>Organized By</th>
                                            <th>Gram Panchayat</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Register</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for camp in schedules %}
                                            <tr>
                                                <td>{{ camp.campDate }}</td>
                                                <td>{{ camp.campName }}</td>
                                                <td>{{ camp.campAddress }}</td>
                                                <td>{{ camp.campDistrict }}</td>
                                                <td>{{ camp.conductedBy }}</td>
                                                <td>{{ camp.organizedBy }}</td> <!-- Assuming organizedBy has a readable __str__ method -->
                                                <td>{{ camp.gramPanchayat }}</td>
                                                <td>{{ camp.startTime }}</td>
                                                <td>{{ camp.endTime }}</td>
                                                <td>
                                                    <button style="color: white; background-color: red;border-radius:5px; border: none;" onclick="registerFunction('{{ camp.id }}')">Register</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    
    {% endblock %}